<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Theater System</title>
</head>
<body>

    <a th:href="@{/}">Home</a>
    <br/>
    <br/>

    <a th:href="@{/bookings/}">To booking a seat </a>
    <br/>
    <a th:href="@{/performances/}">To register a performance</a>
    <br/>
    <a th:href="@{/bookings/list}">Bookings</a>
    <br/>
    <a th:href="@{/reports}">Reports</a>

    <br/>
    <a th:href="@{/databaseInitializer/initialize}">Initialize DataBase</a>

</body>
</html>